@charset "utf-8";
/* CSS Document */
a {
	color:#70D3E9;
	text-decoration:none;
}
img {
	border-style: none;
}
body {
	background-color:#FFFFFF;
	margin:0;
	padding:0;
}

table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	border-spacing:0;
	padding:0;	
}
h2 {
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:100;
	color:#1996AF;
}
h3 {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#1996AF;
}
.tdComBorda {
	margin:3;
	padding:3;
}
.login {
	text-align:center;
	background-color:#E5E5E5;
	width:200px;
}
.alertaLogin {
	text-align:center;
	background-color:#CCCCCC;
	color:#FF0000;
	width:200px;
}
.tdRodape {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	
 	background-color:#CCCCCC;
	text-align:center;
}
/*CONTEUDO*/
.tdConteudo {
	width:480px;
	vertical-align:top;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
}

/*BARRA LATERAL*/
.barraLateralEsquerda {
	width:100%;
	height:100%;
	background-image:url(../imagens/degrade-lateral-esq.png);
	background-position:right;
	background-repeat:repeat-y;
}
.barraLateralDireita {
	width:100%;
	height:100%;
	background-image:url(../imagens/degrade-lateral-dir.png);
	background-position:left;
	background-repeat:repeat-y;
}
/*LANCAMENTO*/
.lancamentoTD {
	text-align:center;
	padding:4px;
	background-color:#ECECEC;
}
/*MOOTOOLS CLASSE QUE DA SLIDE*/
div.marginbottom {
	/* Since the Fx.Slide element resets margins, we set a margin on the above element 
	margin-bottom: 10px;
	margin-left:40px*/
}
#vertical_slide, #horizontal_slide {
	background: #ECECEC;
	padding: 5px;
	border: 4px solid #F3F1F1;
	width:100%;
}
